body{
    background-color: #f5d9d5;
    font-family: "Nunito";
}
#mainNavbar .navbar-brand {
    color: #ea1c2c;
    font-size: 1.5rem;
    cursor: pointer;
}

#mainNavbar{
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link{
    color: white;
    cursor: pointer;
}

#mainNavbar .nav-link:hover {
    color:  #ea1c2c;
}

#heading h1{
    font-weight: 100;  
    font-size: 3rem; 
}

#heading span{
    color: #ea1c2c;
    font-weight: 100;
}
#heading .middle-span{
    color: white;

}


.container-fluid h1 span {
    transition: 1s;
}
.container-fluid h1:hover .first-span {
    padding-left: 70px;
}
.container-fluid h1:hover .second-span {
    padding-right: 70px;
}

img.d-none:hover{
    transition: 1s;
}

img.d-none:hover{
    transform: rotate(360deg);
}





@media (max-width: 1200px) {
    #heading h1{
        font-weight: 100;  
        font-size: 3rem; 
    }
}

h2{
    color:  #ea1c2c;
    font-weight: 100;
}

.lead{
    color: #f498b8;
    font-weight: 100;
    line-height: 2;
}

#text{
    margin-top: 50px;
    margin-bottom: 50px;
}

.navbar.scrolled{
    background-color: #c9eaf7;
    transition: background 1s;
}